<html xmlns:th="http://www.thymeleaf.org">
<body>
<a href="/students-add">Elave et</a>
<table style="margin-bottom:30px">
    <tr>
        <th>ID</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Əməliyyat</th>
    </tr>
    <tr th:each="s : ${students}">
        <td th:text="${s.id}"></td>
        <td th:text="${s.name}"></td>
        <td th:text="${s.surname}"></td>
        <td>
            <a th:href="@{/delete(id=${s.id})}">
                Sil
            </a>
        </td>
    </tr>
</table>



</body>
</html>